.news-container {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.news-container h1 {
    font-weight: bold;
}

.news-container h6 {
   font-size: 90%;
}

.news-author-date {
    color: rgb(114, 114, 114);
}


.news-container p {
    font-size: 90%;
 }
 