<ion-header>
  <ion-toolbar>
    <ion-title>About Us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref=""
        (click)="dismiss(false)"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content [fullscreen]="true">
    <div class="aboutUsText">
      <b><h1>About Us</h1></b>
      <p class="paragraph" font-size="90%">
        GrangeMobile is a useful app designed to help students and lecturers
        manage their academic life in a single space. The app enables users to
        store information such as personal events and notes securely.
        Additionally, it provides lecturers with the ability to update and
        delete student information or modules.
      </p>
      <p class="paragraph" font-size="90%">
        With the app's easy navigation, users can access the classes they need
        to attend on campus without any hassle. GrangeMobile is an all-in-one
        solution that streamlines academic life and improves the organization of
        educational materials.
      </p>
    </div>
  </ion-content>
</ion-content>
