<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home" size="small"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="person" size="small"></ion-icon>
      <ion-label>Students</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="library" size="small"></ion-icon>
      <ion-label>Modules</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="location" size="small"></ion-icon>
      <ion-label>Location</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="document-text" size="small"></ion-icon>
      <ion-label>Notes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
