.view-lecturers-btn {
    float: left;
    // padding-left: 0.5em;
    // margin-top: 0.5em;
}

ion-list {
    margin-top: 1em;
}

hr {
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;

}

ion-card {
    border-style: bold;
    border-color: azure;
}