ion-button {
    margin-left: 1em;
    margin-right: 1em;
}

.delete-button {
    color: white;
  }
  
.update-button {
    color: white;
}
  
ion-input {
    margin-left: 1em;
    margin-right: 1em;
}
// .delete-button:hover {
//   --background: #f7605b !important;
// }

// .update-button:hover {
//     --background: #27ba7b !important;
// }

  ion-icon {
    margin-right: 4px; 
  }